@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);
@import "_variables";

.outfit-body-small {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  size: 13px;
}

.outfit-body-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  size: 15px;
}

.outfit-heading-large {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  size: 32px;
}

.outfit-heading-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  size: 24px;
}

.outfit-heading-small {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  size: 24px;
}

.outfit-heading-extra-small {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  size: 18px;
}


* {
  font-family: 'Outfit', sans-serif;
  background-color: $mango-dark-blue;
  color: $mango-pure-white;
}