/* You can add global styles to this file, and also import other style files */
@use "scss-reset/reset";
@import "../styles/variables";

.selection-container {
  display: grid;
  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}