.trending-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  width: screen;
  overflow: scroll;
}

h2 {
  font-size: 20px;
}

.selection-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}