@import "_variables";

.nav-bar {
  width: 100vw;
  background-color: $mango-semi-dark-blue;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 24px;

  @media (min-width: $breakpoint-tablet) {
    margin: 23px 25px 24px 25px;
    border-radius: 5px;
    width: calc(100vw - 50px);
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-direction: column;
    width: 96px;
    height: 960px;
    margin: 32px 0 0 25px;
  }
}

.nav-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 375px;
  height: 56px;
  padding: 0 16px 0 16px;

  @media (min-width: $breakpoint-desktop) {
     grid-template-columns: 1fr;
     grid-template-rows: auto 1fr auto;
     width: 96px;
     height: calc(960px - 70px);
     justify-items: center;
     margin-top: 32px;
    }

  .logo {
    height: 20px;
    width: 25px;

    @media (min-width: $breakpoint-tablet) {
      height: 25.6px;
      width: 32px;
    }
  }

  .navbar-icons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        align-items: center;
      }

    a {
      padding: 0 1rem;

      .navbar-icon {
        height: 16px;

        @media (min-width: $breakpoint-tablet) {
          height: 20px;
        }
      }

    }
  }

  .avatar {
    height: 24px;
    width: 24px;
    margin-top: 4px;

    @media (min-width: $breakpoint-tablet) {
      height: 32px;
      width: 32px;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 40px;
      width: 40px;
      margin-top: 0;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    width: 100%;
  }
}