@import "../styles/variables";

.regular-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  width: screen;
  overflow: scroll;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 32px;
  }
}

.selection-container {
  display: grid;
  grid-template-columns: 2;
}