@import "../styles/variables";
@import "../styles/globals";

.regular-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  max-width: 343px;
  overflow: scroll;
  margin-bottom: 24px;

  @media (min-width: $breakpoint-tablet) {
    max-width: 719px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: calc(100vw - 32px);
    margin-right: 16px;
  }
}

h2 {
  font-size: 20px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 32px;
  }
}

.regular-selection-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 15px;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 29px;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 280px repeat(auto-fit, minmax(280px, 1fr)) 280px;
    justify-items: center;
    gap: 32px;
    width: 100%;
  }
}