@import "../styles/variables";
@import "../styles/globals";

.regular-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.regular-selection-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: center;
  gap: 14px;
  max-width: calc(100vw - 32px);

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
    max-width: calc(100vw - 50px);
  }

  @media (min-width: $breakpoint-large-desktop) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
    max-width: calc(100vw - 191px);
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 24px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 32px;
  }
}